.aboutShow {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.basicSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

p {
    margin-top: auto;
}