.seasonSection {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

p {
    margin-top: auto;
}

.seasonList {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seasonButton {
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
}

.seasonButtonActive {
    background-color: dodgerblue;
}

.seasonButton:hover:not(.seasonButtonActive) {
    background-color: #ddd;
}