.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(350px, 4fr) 1fr;
  grid-template-rows: 3rem minmax(3rem, 5rem) 1fr 3rem;
  grid-template-areas:
    "header header header"
    ".  search  ."
    ". content ."
    "footer  footer  footer";
}

.searchForm {
  grid-area: search;
  justify-self: center;
  align-self: center;
}

.resultContent {
  grid-area: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.pageTitle {
  grid-area: search;
  justify-self: center;
  align-self: center;
}

.showContent {
  grid-area: content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.seasonList {
  margin: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.seasonButton {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
}

.seasonButtonActive {
  background-color: dodgerblue;
}

.seasonButton:hover:not(.seasonButtonActive) {
  background-color: #ddd;
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
}

.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  margin-top: 1.5rem;
}